.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.loginCard {
  background-color: white;
}

.cardTitle {
  display: flex;
  justify-content: center;
  color: #01FFC3;
  padding-top: .5em;
  padding-bottom: .5em;
}

.cardBody {
  padding: .5em !important;
}

.textMuted {
  display: flex;
  justify-content: center;
  padding-top: .5em;
  padding-bottom: .5em;
  color: #FFB3FD !important;
}

.cardText {
  color: #01FFFF !important;
}