.profile {
  background-color: black;
  height: 100%;
}

.playlists {
  height: 72vh;
  border: 2px solid #01FFFF;
  border-radius: 5px;
  margin: 1px;
  width: 50vw;
}

.display {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: auto;
  width: 48.6vw;
  border: 2px solid #01FFFF;
  border-radius: 5px;
}

.bottomWrapper {
  display: inline-flex;
}