.artistListContainer {
  display: flex;
  justify-content: center !important;
  flex-wrap: wrap;
  margin: 2em 3em 2em 3em;
}

.Container {
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.userPlaylistsCont {
  height: 100%;
}