.artistsContainer {
  background-color: black;
  height: 100%;
}

.full {
  height: 100vh;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.header {
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.scrollContainer {
  display: inline-flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center;
  margin: 2em 6em 2em 6em !important;
}