.songsContainer {
  background-color: black;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollContainer {
  margin-left: 10em;
  margin-right: 10em;
  border: 1px solid #01FFFF;
  margin-top: 2em;
}