.profile {
  background-color: black;
  height: 100vh;
}

.playlists {
  height: 72vh;
  border: 2px solid #01FFFF;
  border-radius: 5px;
  margin: 1px;
  width: 50vw;
}

.display {
  width: 48.7vw;
}

.bottomWrapper {
  display: inline-flex;
}