.navbar {
  background-color: black;
  -webkit-box-shadow: 0 8px 6px -6px #01FFC3;
  -moz-box-shadow: 0 8px 6px -6px #01FFC3;
  box-shadow: 0 8px 6px -6px #01FFC3;
}

.navbar-text {
  color: #01FFFF !important;
}